##Universal version of Java

## Java template
*.class

### IntelliJ
.idea/
*.iml
/out/
/target/

# Eclipse project files
.classpath
.project
.DS_Store
*/.project

### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Package Files #
*.jar
*.war
*.ear
# log
*.log
/log/
logs/